<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meat content Commponent</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- style -->
    <link rel="stylesheet" href="../../qr/meat-content_component.css">
  </head>
  <body>
    <div class="meat-content-component" id="header-component">
      <div class="meat-content-content" id="header-content">
        <h3 class="title">Meat Content</h3>
        <br>
        <p class="text"><b class="title-2">Cow Species:</b><!-- Cow species placeholder --></p>
        <p class="text"><b class="title-2">Meat Part:</b><!-- Meat part placeholder --></p>
        <p class="text"><b class="title-2">Gender:</b><!-- Gender placeholder --></p>
        <p class="text"><b class="title-2">Cow Weight:</b><!-- Cow weight placeholder --></p>
        <p class="text"><b class="title-2">Age:</b><!-- Age placeholder --></p>
      </div>
    </div>
  </body>
</html>
